body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(180, 188, 195);
    border-radius: 20px;
    border: 3px solid rgb(180, 188, 195);
}

table tbody tr td {
    line-height: 1.5 !important;
}

input::placeholder,
textarea::placeholder {
    color: #495057 !important;
}

.exercise__detail nav .nav-tabs a {
    width: 38px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.exercise__detail nav .nav-tabs a.active {
    background-color: #fb5533 !important;
    color: #fff !important;
}

.ck-editor__editable {
    min-height: 200px;
}
