ul {
    padding: 8px 0;
    margin-bottom: 0;

    li a {
        font-size: 14px;
        display: block;
        padding: 12px 20px;
        cursor: pointer;
        color: #444;

        &:hover {
            color: #292929;
            background: #f5f5f5;
        }
    }
}

ion-icon[name="ellipsis-horizontal"] {
    color: #444;
    cursor: pointer;
}

.menu-actions {
    position: absolute;
    top: 36px;
    right: 0;
    border-radius: 10px;
    min-width: 200px;
    z-index: 999;
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    opacity: 0;
    visibility: hidden;

    &.show {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}
