.error-404 {
    font-family: "Nunito", sans-serif;

    .page-error {
        h1 {
            font-size: 10em;
            font-weight: 700;
            color: #6c757d;
        }

        .page-description,
        .page-back-home {
            font-size: 18px;
            font-weight: 400;
            color: #34395e;
        }

        .simple-footer {
            font-size: 14px;
            font-weight: 400;
            color: #6c757d;
        }
    }
}
