.quiz {
    display: none;
    justify-content: center;

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-quiz-container {
        width: 100%;
        height: 30rem;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 30px;
    }

    .game-details-container {
        width: 90%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1rem;
        }
    }

    .game-question-container {
        width: 90%;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid darkgray;
        border-radius: 25px;

        h1 {
            font-size: 1.1rem;
            text-align: center;
            padding: 3px;
        }
    }

    .game-options-container {
        width: 90%;
        height: 12rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        span {
            width: 48%;
            height: 3rem;
            border: 2px solid darkgray;
            border-radius: 20px;
            overflow: hidden;
        }
    }

    span label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.3s;
        font-weight: 600;
        color: rgb(22, 22, 22);

        &:hover {
            -ms-transform: scale(1.12);
            -webkit-transform: scale(1.12);
            transform: scale(1.12);
            // color: white;
        }
    }

    input[type="radio"] {
        position: relative;
        display: none;
    }

    input[type="radio"]:checked ~ .option {
        background: paleturquoise;
    }

    .next-button-container {
        width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;

        button {
            width: 9rem;
            height: 2rem;
            border-radius: 10px;
            background: none;
            color: rgb(25, 25, 25);
            font-weight: 600;
            border: 2px solid gray;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: gray;
            }
        }
    }

    @media (min-width: 300px) and (max-width: 350px) {
        .game-quiz-container {
            width: 90%;
            height: 80vh;
        }
        .game-details-container h1 {
            font-size: 0.8rem;
        }

        .game-question-container {
            height: 6rem;
        }
        .game-question-container h1 {
            font-size: 0.9rem;
        }

        .game-options-container span {
            width: 90%;
            height: 2.5rem;
        }
        .game-options-container span label {
            font-size: 0.8rem;
        }
    }

    @media (min-width: 350px) and (max-width: 700px) {
        .game-quiz-container {
            width: 90%;
            height: 80vh;
        }
        .game-details-container h1 {
            font-size: 1rem;
        }

        .game-question-container {
            height: 8rem;
        }

        .game-question-container h1 {
            font-size: 0.9rem;
        }

        .game-options-container span {
            width: 90%;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
