extends ../layouts/admin
block content
    section.blog__create
        .row
            .col-md-10.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title Thêm mới bài viết
                            a.btn.btn-outline-warning.btn-icon-text.ml-2(href='/blog/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                        p.card-description Nhập thông tin bên dưới để thêm mới 1 bài viết
                        form.forms-sample(method='POST' action='/blog/post')
                            .form-group
                                label.text-dark(for='title') Ti&ecirc;u &Dstrok;&#x1EC1;
                                input#title.form-control(type='text' placeholder='Nhập tiêu đề' name='title' required)
                            .form-group
                                label.text-dark(for='category') Th&#x1EC3; lo&#x1EA1;i
                                select#category.form-control(name= 'bcID' required)
                                    each category in categories
                                        option(value= category._id)= category.category
                            .form-group
                                label.text-dark(for='exampleTextarea1') N&#x1ED9;i dung
                                textarea#ckeditor-content.form-control(name='content')
                            
                            .form-group
                                label.text-dark(for='image') Hình ảnh
                                input#image.form-control(type='text' placeholder='Nhập link hình ảnh' name='image')
                            
                            a.btn.btn-light(href='/blog/list')
                                | H&#x1EE7;y b&#x1ECF;
                            button.btn.btn-primary.ml-2(type='submit')
                                | &Dstrok;&abreve;ng b&agrave;i

    script.
        document.addEventListener('DOMContentLoaded', function() {
            ClassicEditor.create(document.querySelector('#ckeditor-content'));
        })