extends ../layouts/admin
block content
    section.unit__create
        .row
            .col-md-6.grid-margin.stretch-card.mx-auto
                .card
                    .card-body
                        .d-flex.align-items-center.justify-content-between
                            h4.card-title Thêm mới chuyên đề
                            a.btn.btn-outline-warning.btn-icon-text(href='/units/list') 
                                i.mdi.mdi-reload.btn-icon-prepend
                                | Quay lại
                        p.card-description Nhập thông tin bên dưới để thêm mới 1 chuyên đề
                        form.mt-4(action='/units/create', method='POST')
                            .form-group.row
                                label.col-sm-3.col-form-label.font-weight-bold(for='name') Tên chuyên đề
                                .col-sm-9
                                    input#name.form-control(type='text', placeholder='Nhập tên chuyên đề', name='name', required)
                            .form-group.row
                                label.col-sm-3.col-form-label.font-weight-bold(for='subject') Môn học
                                .col-sm-9
                                    select.form-control.h-75(id='subject', name='subjectID', required)
                                        option.selected --Chọn môn học--
                                        each subject in subjects
                                            option(value=subject._id)= subject.name + " " + subject.gradeID
                            a.btn.btn-light(href='/units/list') Hủy bỏ
                            button.btn.btn-primary.ml-2(type='submit') Lưu lại
    if  success.length > 0
    - var msgSuccess = success 
    script.
        let msgToastSuccess = '#{msgSuccess}';
        if(msgToastSuccess != ''){
            Eggy({
                title: 'Thành công',
                message:  msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        }  
    
