extends ../layouts/common
block main
    section.new-question
        .row
            .col-sm-9
                form(action="/new-question" method="post" enctype="multipart/form-data")
                    input(type="text" name="title" hidden)
                    .new-question-title.fs-3(contenteditable="true" placeholder="Đặt câu hỏi (Nhấn vào đây để nhập tiêu đề)")
                    .new-question-img.mt-5
                        .new-question-label.mb-4 Ảnh mô tả
                        input(type="file" name="thumbnail" accept="image/*")
                        .gallery.mt-2
                    .new-question-topic.mt-5
                        .new-question-label.mb-4 Chủ đề
                        div
                            input(type="text" name="topic" hidden)
                            each subject in subjects
                                button.btn.btn-light.rounded-pill.fs-7.me-3.mb-3(type="button")= subject._id
                    .new-question-content.mt-5
                        .new-question-label.mb-4 Nội dung
                        textarea.new-question-textarea(type="text" name="content" placeholder="Mô tả vấn đề ở đây")
                    .mt-5
                        button.btn.btn-success.btn-sm.rounded-pill.btn-post-question(disabled type="submit") Đăng câu hỏi
    
    script(src="/vendor/ckeditor.js")
    script.
        ClassicEditor.create(document.querySelector('.new-question-textarea'), {
            toolbar: {
                items: [
                    'heading', 'bold', 'italic', 'underline', 'link',
                    'bulletedList', 'numberedList',
                    'insertTable', 'blockQuote',
                    'undo', 'redo',
                    'MathType', 'ChemType'
                ],
                shouldNotGroupWhenFull: true
            },
        });

        $(window).on("load", function() {
            $(".new-question-title").focus();
        });

        $(document).ready(function () {
            const newQuestionTitle = $(".new-question-title");
            const newQuestionTextarea = $(".new-question-textarea");
            const newQuestionImg = $(".new-question-img input[type='file']");
            const newQuestionTitleInput = $("input[name='title']");
            const newQuestionTopicInput = $("input[name='topic']");
            const btnPostQuestion = $(".btn-post-question");
            const newQuestionForm = $(".new-question form");
            const newQuestionTopicBtn = $(".new-question-topic div button");

            // preview image upload
            newQuestionImg.on('change', function(e) {
                $(".gallery").html("");
                $(".gallery").append(`
                    <img src="${URL.createObjectURL(e.target.files[0])}" width="100px" height="100px" style="object-fit: cover" />
                `);
            });

            newQuestionForm.submit(function () {
                var topic = $(".new-question-topic div button.active");
                newQuestionTitleInput.val(newQuestionTitle.text());
                newQuestionTopicInput.val(topic.text());
            })

            newQuestionTitle.keyup(function () {
                if($(this).text().length > 6) {
                    btnPostQuestion.prop('disabled', false);
                } else {
                    btnPostQuestion.prop('disabled', true);
                }
            })

            newQuestionTopicBtn.click(function () {
                newQuestionTopicBtn.removeClass("active");
                $(this).addClass("active");
            })
        })