extends ../layouts/common
block main
    section.new-question
        .row
            .col-sm-9
                .new-question-title.fs-3(contenteditable="true" placeholder="Đặt câu hỏi (Nhấn vào đây để nhập tiêu đề)")
                .new-question-img.mt-5
                    .new-question-label.mb-4 Ảnh mô tả
                    input(type="file")
                .new-question-content.mt-5
                    .new-question-label.mb-4 Nội dung
                    textarea.new-question-textarea(type="text" placeholder="Mô tả vấn đề ở đây")
                .mt-5
                    button.btn.btn-success.btn-sm.rounded-pill.btn-post-question(disabled="true") Đăng câu hỏi
    script(src="/vendor/ckeditor.js")
    script.
        ClassicEditor.create(document.querySelector('.new-question-textarea'), {
            toolbar: {
                items: [
                    'heading', 'bold', 'italic', 'underline', 'link',
                    'bulletedList', 'numberedList',
                    'insertTable', 'blockQuote',
                    'undo', 'redo',
                ],
                shouldNotGroupWhenFull: true
            },
        });

        //- $(document).ready(function () {
        //-     const newQuestionTitle = $(".new-question-title");
        //-     const newQuestionTextarea = $(".new-question-textarea");
        //-     const btnPostQuestion = $(".btn-post-question");

        //-     $("p[data-placeholder='Mô tả vấn đề ở đây']").change(function () {
        //-         if ($(this).html().length > 0) {
        //-             btnPostQuestion.removeAttr("disabled");
        //-         }
        //-     })
        //- })