footer.footer
    a(href='/')
        img(src='/img/logo.jpg', alt='', width='22')
    ul.footer__links
        li
            a(href='/about') Giới thiệu
        li
            a(href='/about') Liên hệ
    ul.footer__socials
        li
            a(href='')
                ion-icon(name='logo-facebook')
