footer.footer
    a(href='/')
        img(src='/img/logo.jpg', alt='', width='22')
    ul.footer__links
        li
            a(href='/about') Giới thiệu
    ul.footer__socials
        li
            a(href='https://www.facebook.com/PC3Confessions', target='_blank')
                ion-icon(name='logo-facebook')
