footer.footer
    a(href='/')
        img(src='https://scontent.fdad1-1.fna.fbcdn.net/v/t1.6435-9/40527544_1454083628027564_5516095591391690752_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=V7g2U5hpB-wAX9jVZ7E&_nc_ht=scontent.fdad1-1.fna&oh=5bf5da07a163ad710df5db0e73475d71&oe=617BAB2F', alt='', width='22')
    ul.footer__links
        li
            a(href='/about') Giới thiệu
        li
            a(href='/about') Liên hệ
    ul.footer__socials
        li
            a(href='')
                ion-icon(name='logo-facebook')
