header.header
    .header__logo
        img(src='https://scontent.fdad1-1.fna.fbcdn.net/v/t1.6435-9/40527544_1454083628027564_5516095591391690752_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=V7g2U5hpB-wAX9jVZ7E&_nc_ht=scontent.fdad1-1.fna&oh=5bf5da07a163ad710df5db0e73475d71&oe=617BAB2F', alt='')
        h4 Trường THPT Phù Cát 3
    .header__body
        .header__search
            ion-icon(name='search')
            input(type='text', name='search', placeholder='Tìm kiếm')
    .header__actions
        .header__actions--noti
            ion-icon(name='notifications')
        if user
            .header__actions--avatar
                img(src=user.avatar, alt='')
            .header__actions--userMenu.shadow
                .user
                    .user__avatar
                        img(src=user.avatar, alt='')
                    .user__info
                        .name= user.fullname
                        .username @#{user.username}
                hr
                ul.list
                    li.list__item
                        a.list__link(href='') Thông tin cá nhân
                    li.list__item
                        a.list__link(href='') Kết quả học tập
                hr
                ul.list
                    li.list__item
                        a.list__link(href='') Đăng xuất