.horizontal-menu
    nav.navbar.top-navbar.col-lg-12.col-12.p-0
        .container-fluid
            .navbar-menu-wrapper.d-flex.align-items-center.justify-content-between
                ul.navbar-nav.navbar-nav-left(style="flex: 1 1")
                    li.nav-item.ml-0.mr-5.d-lg-flex.d-none
                        a.nav-link.horizontal-nav-left-menu(href='#')
                            i.mdi.mdi-format-list-bulleted
                    li
                        span.text-dark.font-weight-bold Trường THPT Phù Cát 3
                .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center(style="flex: 1 1")
                    a.navbar-brand.brand-logo(href='/admin', style='font-weight: bold; background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent;') PC3 Admin
                ul.navbar-nav.navbar-nav-right.justify-content-end(style="flex: 1 1")
                    li.nav-item.nav-profile.dropdown
                        a#profileDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.nav-profile-name Johnson
                            span.online-status
                            img(src='https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/p843x403/245742418_1588156591551620_7312094953014591537_n.jpg?_nc_cat=1&ccb=1-5&_nc_sid=730e14&_nc_ohc=_nkxy-td6sUAX-HKe1N&_nc_ht=scontent.fdad2-1.fna&oh=13ca60484aada593dde9ba0782a20b79&oe=616C759D', alt='profile')
                        .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='profileDropdown')
                            a.dropdown-item
                                i.mdi.mdi-settings.text-primary
                                | Settings
                            a.dropdown-item
                                i.mdi.mdi-logout.text-primary
                                | Logout
                button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button', data-toggle='horizontal-menu-toggle')
                    span.mdi.mdi-menu
    nav.bottom-navbar
        .container
            ul.nav.page-navigation
                li.nav-item
                    a.nav-link(href='/admin')
                        i.mdi.mdi-file-document-box.menu-icon
                        span.menu-title Dashboard
                li.nav-item
                    a.nav-link(href='#')
                        i.mdi.mdi-book.menu-icon
                        span.menu-title Quản lý môn học
                        i.menu-arrow
                    .submenu
                        ul
                            li.nav-item
                                a.nav-link(href='/subjects/list') Danh sách
                            li.nav-item
                                a.nav-link(href='/subjects/create') Thêm mới
                li.nav-item
                    a.nav-link(href='#')
                        i.mdi.mdi-file-document-box-outline.menu-icon
                        span.menu-title Quản lý chuyên đề
                        i.menu-arrow
                    .submenu
                        ul
                            li.nav-item
                                a.nav-link(href='/units/list') Danh sách
                            li.nav-item
                                a.nav-link(href='/units/create') Thêm mới
