.horizontal-menu
    nav.navbar.top-navbar.col-lg-12.col-12.p-0
        .container-fluid
            .navbar-menu-wrapper.d-flex.align-items-center.justify-content-between
                ul.navbar-nav.navbar-nav-left(style="flex: 1 1")
                    li.nav-item.ml-0.mr-5.d-lg-flex.d-none
                        a.nav-link.horizontal-nav-left-menu(href='/', target="_blank")
                            i.mdi.mdi-format-list-bulleted
                    li
                        span.text-dark.font-weight-bold Trường THPT Phù Cát 3
                .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center(style="flex: 1 1")
                    a.navbar-brand.brand-logo(href='/admin', style='font-weight: bold; background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent;') PC3 Admin
                ul.navbar-nav.navbar-nav-right.justify-content-end(style="flex: 1 1")
                    li.nav-item.nav-profile.dropdown
                        if user.length > 0
                            a#profileDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.nav-profile-name= user[0].fullname
                                span.online-status
                                img(src=user[0].avatar, alt='profile')
                        .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='profileDropdown')
                            a.dropdown-item
                                i.mdi.mdi-settings.text-primary
                                | Cài đặt
                            a.dropdown-item(href='/logout')
                                i.mdi.mdi-logout.text-primary
                                | Đăng xuất
                button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button', data-toggle='horizontal-menu-toggle')
                    span.mdi.mdi-menu
    nav.bottom-navbar
        .container-fluid
            ul.nav.page-navigation
                li.nav-item
                    a.nav-link(href='/admin/')
                        i.mdi.mdi-file-document-box.menu-icon
                        span.menu-title Dashboard
                li.nav-item
                    a.nav-link(href='/system/list')
                        i.mdi.mdi-web.menu-icon
                        span.menu-title Quản lý thông tin
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/user/list')
                        i.mdi.mdi-account-multiple.menu-icon
                        span.menu-title Quản lý người dùng
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/blog/list')
                        i.mdi.mdi-blogger.menu-icon
                        span.menu-title Quản lý blog
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/subjects/list')
                        i.mdi.mdi-book.menu-icon
                        span.menu-title Quản lý môn học
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/competition/ranks')
                        i.mdi.mdi-highway.menu-icon
                        span.menu-title Quản lý thi đấu
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/banners/list')
                        i.mdi.mdi-file-image.menu-icon
                        span.menu-title Quản lý banner
                        i.menu-arrow
                li.nav-item
                    a.nav-link(href='/reports/list')
                        i.mdi.mdi-bug.menu-icon
                        span.menu-title Quản lý báo lỗi
                        i.menu-arrow
                //- li.nav-item
                //-     a.nav-link(href='/reports/list')
                //-         i.mdi.mdi-bug.menu-icon
                //-         span.menu-title Quản lý hỏi đáp
                //-         i.menu-arrow
