.sidebar
    ul.sidebar__list.ps-0
        li.sidebar__item.d-flex.justify-content-center.mb-4.mt-2.position-relative
            .sidebar__link.bg-primary.rounded-circle.create__button.text-white.fw-bold
                img(src="/img/add.png")
            .sidebar__menu.bg-white.shadow
                ul.ps-0
                    li
                        a(href='/new-question').d-flex.align-items-center
                            img(src='/img/help.png' width=14 height=14)
                            span.ms-2.fs-8 Đặt câu hỏi
        li.sidebar__item
            a.sidebar__link(href='/')
                ion-icon(name='home')
                span Home
        li.sidebar__item
            a.sidebar__link(href='/subjects')
                ion-icon(name='book')
                span Học
        li.sidebar__item
            a.sidebar__link(href='/competition')
                ion-icon(name='bulb')
                span Thi đấu
            .loader
                ion-icon.loader-star(name='star')
        li.sidebar__item
            a.sidebar__link(href='/blog')
                ion-icon(name='newspaper')
                span Blog
        li.sidebar__item
            a.sidebar__link(href='/qa')
                img(src='/img/help.png' width=18 height=18)
                span Hỏi