.sidebar
    ul.sidebar__list.ps-0
        li.sidebar__item
            a.sidebar__link(href='/')
                ion-icon(name='home')
                span Home
        li.sidebar__item
            a.sidebar__link(href='/subjects')
                ion-icon(name='book')
                span Học
        li.sidebar__item
            a.sidebar__link(href='/competition')
                ion-icon(name='bulb')
                span Thi đấu
            .loader
                ion-icon.loader-star(name='star')

            //- .position-absolute.top-0.end-0.text-warning.fs-5
        li.sidebar__item
            a.sidebar__link(href='/blog')
                ion-icon(name='newspaper')
                span Blog