.sidebar
    ul.sidebar__list.ps-0
        li.sidebar__item
            a.sidebar__link(href='/')
                ion-icon(name='home')
                span Home
        li.sidebar__item
            a.sidebar__link(href='/subjects')
                ion-icon(name='book')
                span Học
        li.sidebar__item
            a.sidebar__link(href='/exercises')
                ion-icon(name='bulb')
                span Thi đấu
        li.sidebar__item
            a.sidebar__link(href='/blog')
                ion-icon(name='newspaper')
                span Blog