extends ../layouts/common
block main
    section.learning-result
        .row
            .col-sm-9
                .result
                    .animate
                    .score
                        img.top-star(src='../img/top-star.png')
                        strong.text-uppercase.text-white.fs-5.d-block.mt-4 ĐIỂM SỐ
                        span.mt-3.d-block 100
                    .done.text-white.mb-4
                        span.mb-2
                            ion-icon(name='shield-checkmark')
                            | Số câu làm đúng: 0/25
                        span.mb-2
                            ion-icon(name='shield-checkmark')
                            | Thời gian làm: 30 phút     
                    ul.menu.d-flex.align-items-center.justify-content-center
                        li
                            a(href='') 
                                img(src='../img/reload.png')
                                span.text-uppercase danh mục bài học
                        li
                            a(href='') 
                                img(src='../img/next.png')
                                span.text-uppercase làm bài tiếp theo
            .col-sm-3.ps-5
                .result-detail.text-center.shadow
                    .pt-3.ps-2.pe-2
                        strong.d-block.mb-2.fs-5 Kết quả
                        span.fs-7 (Bấm vào câu hỏi để xem chi tiết)
                    hr
                    ul.ps-0.pb-2
                        li 
                            a(href='').correct 1
                        li 
                            a(href='') 2
                        li 
                            a(href='') 3
                        li 
                            a(href='').not-correct 4
                        li 
                            a(href='') 5
                        li 
                            a(href='') 6
                        li 
                            a(href='') 7
                        li 
                            a(href='') 8