extends ../layouts/admin
block content
    section.user__create   
        .col-lg-10.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        h4.card-title Thêm mới tài khoản
                        a.btn.btn-outline-warning.btn-icon-text(href='/user/list') 
                            i.mdi.mdi-reload.btn-icon-prepend
                            | Quay lại
                    form.form-upload(action='/user/upload', method='post', enctype="multipart/form-data")
                        .d-flex.align-items-center
                            .file-drop-area
                                span.fake-btn Chọn tệp
                                span.file-msg hoặc kéo và thả tệp tại đây
                                input.file-input(type='file', name='filename')
                            button.ml-2.btn.btn-sm.btn-primary(type="submit") Lưu
                            button.ml-2.btn.btn-sm.btn-secondary(type="button") Hủy
                    .mt-4.mb-4
                        i --- hoặc ---
                    form.form-sample(method='POST' action='/user/create')
                        p.card-description.text-dark.font-weight-bold Thông tin cá nhân
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label H&#x1ECD;
                                    .col-sm-9
                                        input.form-control(type='text' name="firstName" placeholder="Nhập họ" required)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label T&ecirc;n
                                    .col-sm-9
                                        input.form-control(type='text' name="lastName" placeholder="Nhập tên" required)
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label Ch&#x1EE9;c v&#x1EE5;
                                    .col-sm-9
                                        select.form-control.h-75(name= "roleID" required)
                                            option.selected(value="") --- Chọn chức vụ ---
                                            each role in roles
                                                option(value=`${role._id}`)= role.description
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label Ng&agrave;y sinh
                                    .col-sm-9
                                        input.form-control(type="date" value="2021-09-17" name="birthDay" required)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label &Dstrok;&#x1ECB;a ch&#x1EC9;
                                    .col-sm-9
                                        input.form-control(type='text' placeholder="Nhập địa chỉ" name="address" required)

                        p.card-description(style='font-weight: bold')
                            | Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
                        .row
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label
                                        | Email
                                    .col-sm-9
                                        input.form-control(type='email' placeholder="Nhập email" name="email" required)
                            .col-md-6
                                .form-group.row
                                    label.text-dark.col-sm-3.col-form-label
                                        | S&#x1ED1; &dstrok;i&#x1EC7;n
                                        | tho&#x1EA1;i
                                    .col-sm-9
                                        input.form-control(type='text' placeholder="Nhập số điện thoại" name="phone" maxlength=10 required)
                        .text-center
                            button.btn.btn-primary(type='submit')
                                | &Dstrok;&abreve;ng k&yacute;

    if errors.length > 0
        - var msgError = errors
    else if success.length > 0
        - var msgSuccess = success
    script.
        document.addEventListener('DOMContentLoaded', function() {
            // toast message
            let msgToastError = '#{msgError}';
            if(msgToastError != ''){
                Eggy({
                    title: 'Oops... Có gì đó không đúng',
                    message:  msgToastError,
                    type: 'warning',
                    duration: 5000,
                });
            }

            let msgToastSuccess = '#{msgSuccess}';
            if(msgToastSuccess != ''){
                Eggy({
                    title: 'Thành công',
                    message:  msgToastSuccess,
                    type: 'success',
                    duration: 5000,
                });
            }

            var $fileInput = $('.file-input');
            var $droparea = $('.file-drop-area');
            var btnSubmitAddUsersExcel = $(".form-upload button[type=submit]");
            var btnCancelFormExcel = $(".form-upload button[type=button]");

            // highlight drag area
            $fileInput.on('dragenter focus click', function() {
                $droparea.addClass('is-active');
            });

            // back to normal state
            $fileInput.on('dragleave blur drop', function() {
                $droparea.removeClass('is-active');
            });

            // change inner text
            $fileInput.on('change', function() {
                var filesCount = $(this)[0].files.length;
                var $textContainer = $(this).prev();

                if (filesCount === 1) {
                    // if single file is selected, show file name
                    var fileName = $(this).val().split('\\').pop();
                    $textContainer.text(fileName);
                    btnSubmitAddUsersExcel.show();
                    btnCancelFormExcel.show();
                } else {
                    // otherwise show number of files
                    $textContainer.text(filesCount + ' tệp được chọn');
                    btnSubmitAddUsersExcel.hide();
                }
            });

            btnCancelFormExcel.click(function() {
                $(this).hide();
                btnSubmitAddUsersExcel.hide();
                $fileInput.val("");
                $fileInput.prev().text('hoặc kéo và thả tệp tại đây');
            })
        })
        
