extends ../layouts/admin
block content
    section.roles__list     
        .col-lg-8.grid-margin.stretch-card.mx-auto
            .card
                .card-body
                    .d-flex.align-items-center.justify-content-between
                        h4.card-title
                            | Danh s&aacute;ch chức vụ
                        a.btn.btn-outline-warning.btn-icon-text(href='/user/list') 
                            i.mdi.mdi-reload.btn-icon-prepend
                            | Quay lại
                    .table-responsive.pt-3
                        table.table.table-hover.text-dark
                            thead
                                tr 
                                    th.font-weight-bold #
                                    th.font-weight-bold Tên chức vụ
                                    th.font-weight-bold Mô tả
                            tbody
                                - var count=0;
                                each role in roles
                                    -count++;
                                    tr
                                        td= count
                                        td= role.roleName 
                                        td= role.description